<div class="row">
    <div class="col text-center">Gate statistics</div>
</div> 
<hr>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>Gate</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><%= gate_results(@meeting, 1) %></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><%= gate_results(@meeting, 2) %></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><%= gate_results(@meeting, 3) %></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><%= gate_results(@meeting, 4) %></td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <%= button_to "Back", meeting_path(@meeting), method: :get, class: "btn btn-secondary btn-block" %>
    </div>
</div>