<p id="notice"><%= notice %></p>

<p>
  <strong>Home team name:</strong>
  <%= @meeting.home_team_name %>
  <%= link_to_if(@meeting.home_riders.nil?,  'Add riders', new_meeting_home_rider_path(@meeting, @home_rider)) %>
  
</p>

<p>
  <strong>Away team name:</strong>
  <%= @meeting.away_team_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Gate:</strong>
  <%= @meeting.gate %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>

<p></p>
<%= link_to 'Add heat', new_meeting_heat_path(@meeting) %>