<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h5><%= @meeting.date.strftime("%a %b %d") %></h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-fill bd-highlight"><h5><%= @meeting.home_team_name %>: <%= home_score %></h5></div>
      <div class="p-2 flex-fill bd-highlight"><h5><%= @meeting.away_team_name %>: <%= away_score %></h5></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="d-flex bd-highlight">
      
      <div class="p-2 flex-fill bd-highlight">
        <nav class="nav nav-pills nav-justified justify-content-center">
          <%= @meeting.home_riders.nil? ? 
                (button_to 'Add riders', new_meeting_home_rider_path(@meeting, @home_rider), class: "btn btn-sm btn-success", method: :get) : 
                (button_to 'Edit riders', edit_meeting_home_rider_path(@meeting, @home_rider ), class: "btn btn-sm btn-outline-dark", method: :get) %>
        </nav>
      </div>
      <div class="p-2 flex-fill bd-highlight">
        <nav class="nav nav-pills nav-justified justify-content-center">
          <%= @meeting.away_riders.nil? ? 
                (button_to 'Add riders', new_meeting_away_rider_path(@meeting, @away_rider), class: "btn btn-sm btn-success", method: :get) : 
                (button_to 'Edit riders', edit_meeting_away_rider_path(@meeting, @away_rider ), class: "btn btn-sm btn-outline-dark", method: :get) %>
        </nav>
      </div>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="d-flex bd-highlight">
      
      <div class="p-2 flex-fill bd-highlight">
        <nav class="nav nav-pills nav-justified justify-content-center">
          <%= button_to "Rider stats", meeting_static_pages_rider_path(@meeting), method: :get, class: "btn btn-sm btn-info"  %>
        </nav>
      </div>
      <div class="p-2 flex-fill bd-highlight">
        <nav class="nav nav-pills nav-justified justify-content-center">
          <%= button_to "Gate stats", meeting_static_pages_gate_path(@meeting), method: :get, class: "btn btn-sm btn-info"  %>
        </nav>
      </div>
      
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <%= (@meeting.home_riders.nil? || @meeting.away_riders.nil?) ? 
      (button_to 'Add heat', new_meeting_heat_path(@meeting), class: "btn btn-small btn-block", disabled: true)  :
      (button_to 'Add heat', new_meeting_heat_path(@meeting), class: "btn btn-small btn-block", method: :get) %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<% @meeting.heats.each do |f| %>

<div class="row">
    <div class="col-sm-12">
      <%= button_to "Heat #{f.heat_number}: Time #{f.heat_time}", edit_meeting_heat_path(@meeting, f), method: :get, class: "btn btn-outline-secondary btn-block" %>
      <br>
    </div>
</div>


<% end %>

<hr>

